.faq h2 {
    color: $colorTextPrimary;
    padding-top: $spaceItemMain;
    font-weight: 500;
}

.faq p {
    padding-top: $spaceparagraphs;
    letter-spacing: 0.2px;
    font-size: 14px;
    line-height: 20px;
}
